@import "mixins";
@import "variables";

* {
    .reset;
}

body {
    font-family: 'Roboto', sans-serif;
}

.contain {
    width: 75%;
    margin: @center;
    display: flex;
    padding: 50px 0;
}

h1 {
    display: none;
}

h2 {
    .heading;
}

p {
    font-size: 16px;
    color: @text-black;
    font-weight: 400px;
    line-height: 1.5;
}

.red {
    color: @secondary-color;
}

.lower {
    text-transform: lowercase;
}


header {
    background-color: @primary-color;
    padding: 40px 0;
    nav {
        width: 75%;
        margin: @center;
        ul {
            li {
                display: inline;
                padding: 20px;
                a {
                    .link;
                }
                .cap-link {
                    .upper-link
                }
            }
        }
    }
}

.top {
    background-image: url("../img/banner-bg.png");
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    button {
        margin: @center;
    }
}

.top:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #383838;
    opacity: 33%;
    z-index: 1;
}

.text {
    position: relative;
    z-index: 2;
}

.logo {
    display: block;
    margin: @center;
    padding: 50px 0;
}

button {
    .btn;
}


.text-fig {
    margin: 0 50px;
}

.grey {
    background-color: @gray;

}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    background-color: @black;
    padding: 10px 0;
    border-top: @primary-color 10px solid;
    figure {
        width: 30%;
        margin: @center;
    }
}